.complete {
  text-decoration: line-through;
}

.ion-android-share{
	font-size:20px !important;
	float:right !important;
}

header{
	margin-bottom:10px;
}

#logo{
	width:40px;
}

#slider{
	margin-top:40px;
}

.box{
	height:250px;
}

.box img{
	width:100%;
}

#title{
	margin-top:-23px;
}


#list{
	margin-top:300px;
}